body {
	font-family: "Ubuntu", sans-serif;
	text-align: center;
}

a {
	margin: 10px 20px;
	text-decoration: none;
}

h1 {
	font-size: 3em;
	color: cornflowerblue;
}

h4 {
	color: cornflowerblue;
}
.top-img {
	position: relative;
	display: block;
	bottom: 40px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 37.5%;
	right: 0;
	height: auto;
	width: 25%;
	opacity: 0;
	transition: .1s ease;
}

.top-img:hover .overlay {
	opacity: 1;
}

.presentation {
	font-family: "Ubuntu", sans-serif;
	height: 300px;
	position: relative;
	top: 50px;
	text-align: center;
}

.main {
	color: whitesmoke;
	text-align: center;
	padding-top: 50px;
	padding-left: 120px;
	padding-right: 120px;
	padding-bottom: 20px;
}

.row {
	border-radius: 3%;
	padding: 2% 2%;
}
.card3 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 20px;
	padding-left: 20px;
}

.pricing-column {
	padding: 3% 2%;
}

.img42 {
	position: relative;
	text-align: center;
}
.footer-link {
	text-align: center;
	background-color: primary;
	padding-top: 30px;
	padding-bottom: 10px;

}
